<div>
  <h2>Registro</h2>
  <form (ngSubmit)="onRegister(username.value, email.value, password.value)">
    <input #username type="text" placeholder="Nombre de usuario" required>
    <input #email type="email" placeholder="Correo electrónico" required>
    <input #password type="password" placeholder="Contraseña" required>
    <button type="submit">Registrarse</button>
  </form>
</div>

<div>
  <h2>Iniciar sesión</h2>
  <form (ngSubmit)="onLogin(email.value, password.value)">
    <input #email type="email" placeholder="Correo electrónico" required>
    <input #password type="password" placeholder="Contraseña" required>
    <button type="submit">Iniciar sesión</button>
  </form>
</div>